/* The cart page style sheet */

/* ===================
Cart header
====================== */

.rcn-child-cart-continue-shopping-btn {
    display: inline-block;
}
.rcn-child-cart-continue-shopping-btn a {
    padding: 0px !important;
    background: transparent;
    font-size: 18px !important;
    text-transform: capitalize !important;
    display: flex;
    align-items: center;
    font-weight: 600 !important;
    cursor: pointer;
}

.rcn-child-cart-continue-shopping-btn a i {
    font-size: 30px;
    margin-left: -9px;
}

.rcn-child-cart-continue-shopping-btn:hover {
    transform: none !important;
    background: transparent !important;
}

.rcn-child-cart-secondary-header {
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rcn-child-cart-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin-top: 5px;
}

.rcn-child-cart-header-divider {
    margin: 25px 0px !important;
}

/* ========================
Cart total styles
=========================== */

.rcn-child-cart-totals {
    background: #444e5a;
    border-radius: 8px !important;
    color: white;
    border: none;
}

.rcn-child-cart-coupon-wrapper {
    padding: 30px 0px;
}

.rcn-child-cart-coupon-wrapper form {
    display: flex;
}

.rcn-child-cart-coupon-wrapper input {
    width: 218px;
    height: 40px;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.rcn-child-cart-coupon-wrapper input[type='submit'] {
    width: 135px;
    height: 40px;
    padding: 0px 15px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: white !important;
    margin-left: -1px;
    background-color: #006cfa;
    font-size: 12px !important;
}

.rcn-child-cart-coupon-wrapper input[type='submit']:hover {
    background-color: #006cfa !important;
}

.rcn-child-cart-total-primary-title {
    color: #fefcfc !important;
    font-size: 22px !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    line-height: 29px !important;
    background: transparent !important;
    margin: 0px !important;
    padding: 10px 0px !important;
    border-color: #6b6b6b !important;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border: none;
    padding: 0px;
    color: #fefcfc;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rcn-child-cart-subtotal th,
.rcn-child-cart-subtotal td {
    padding-top: 15px !important;
    padding-bottom: 7px !important;
}

.rcn-child-cart-discount th,
.rcn-child-cart-discount td {
    padding-bottom: 7px !important;
}

.rcn-child-cart-totals {
    width: 394px !important;
}

.rcn-child-shop-table {
    border: none !important;
}

.rcn-child-shop-table td {
    text-align: end;
}

.rcn-child-shop-table a.woocommerce-remove-coupon {
    display: none;
}

.rcn-child-tax-total th,
.rcn-child-tax-total td {
    padding-bottom: 15px !important;
}

.rcn-child-order-total {
    border-top: 1px solid wheat;
}

.rcn-child-order-total th,
.rcn-child-order-total td {
    padding-top: 10px !important;
    border-top: 1px solid #666769 !important;
}

.rcn-child-order-total th,
.rcn-child-order-total td bdi {
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.rcn-child-proceed-to-checkout-btn a {
    width: 350px;
    height: 50px;
    background: #006cfa !important;
    padding: 8px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    transition: all ease-in-out 0.1s;
}

.rcn-child-proceed-to-checkout-btn a:hover {
    color: white !important;
}

.rcn-child-proceed-to-checkout-btn a:active {
    transform: scale(0.9);
}

.woocommerce-js ul#shipping_method .amount {
    font-weight: 400;
}

.woocommerce-js table.shop_table .product-thumbnail img,
.woocommerce-page table.shop_table .product-thumbnail img {
    width: auto;
    max-width: 82px;
    height: 80px !important;
    border-radius: 8px;
}

.rcn-child-cart-items-name input[type='submit'] {
    color: #1e1e1e !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.rcn-child-cart-items-name p {
    font-size: 14px !important;
    font-weight: 500;
    opacity: 0.5;
}

.rcn-child-cart-qty {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    padding: 4px;
    border-radius: 8px;
}

.rcn-child-cart-qty input[type='number']::-webkit-outer-spin-button,
.rcn-child-cart-qty input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rcn-child-cart-qty input[type='number'] {
    -moz-appearance: textfield;
    padding: 3px;
    border: 1px solid rgba(217, 217, 217, 1) !important;
    border-radius: 8px;
    text-align: center;
    width: 50px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.rcn-child-cart-qty span {
    font-size: 25px;
    width: 40px;
    height: 100%;
    cursor: pointer;
    color: rgba(217, 217, 217, 1);
}

.rch-child-cart-qty-plus-btn,
.rch-child-cart-qty-minus-btn {
    cursor: pointer;
    padding: 8px;
    margin: auto;
}

.rch-child-cart-qty-plus-btn span,
.rch-child-cart-qty-minus-btn span {
    font-size: 16px;
    color: #d9d9d9;
}

.woocommerce-cart table.cart input[type='number'] {
    padding: 9px 6px;
    border: 1px solid #d9d9d9 !important;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 8px;
    width: 160px;
}

.rcn-child-cart-product-remove {
    margin-top: auto;
    margin-bottom: 10px !important;
    margin-right: 10px;
    cursor: pointer;
}

.rcn-child-cart-product-remove span {
    color: #9c9c9c !important;
    font-size: 25px;
}

.rcn-child-cart-item-thumbnail img {
    border-radius: 8px !important;
    width: 120px !important;
    height: 98px;
}

.rcn-child-cart-item-name h2 {
    color: #1e1e1e !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 25px !important;
    text-transform: none !important;
    margin-bottom: 0px !important;
}

.rcn-child-cart-item-name p {
    color: rgba(51, 51, 51, 0.5) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    margin: 5px 0px;
}

.rcn-child-cart-item-action small {
    color: rgba(51, 51, 51, 0.5);
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 17px !important;
}
.rcn-child-cart-item-action p {
    color: #393939 !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 17px !important;
    margin-bottom: 0px;
}

form.woocommerce-cart-form {
    width: fit-content;
    display: inline-block;
    margin-right: 50px;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    zoom: 1;
    width: fit-content;
    display: inline-block;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
}

.rcn-child-cart-container {
    width: fit-content;
}

.rcn-child-cart-item {
    display: flex;
    gap: 20px;
    width: 660px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.rcn-child-cart-item-data {
    width: 100%;
}

.rcn-child-cart-item-action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.rcn-child-cart-price-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.rcn-child-cart-loading-screen {
    display: none;
}

.rcn-child-cart-loading-screen> div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff63;
}
